<div class="bg-div">
    <mat-toolbar class="toolbar-container">
      <span appFuentes class="boton">List-App</span>
      <span class="example-spacer"></span> <!--separador universal-->
      <!-- se inyecta menu dinamicamente por archivo json -->
      <button appFuentes class="boton" mat-button  > </button>  
      
      <span class="example-spacer"></span><!--separador universal-->
      <button mat-icon-button routerLink="/login">
        <mat-icon appFuentes class="boton">logout</mat-icon> <!--boton de escape para el login-- proximamente sera de deslogueo, actualmente no desloguea al usuario, solo rutea a la vista de login-->
      </button>
    </mat-toolbar>
  </div>
  
