<div class="bg-div">
    <mat-toolbar class="toolbar-container">
      <span appFuentes class="boton">List-App</span>
      <span class="example-spacer"></span> <!--separador universal-->
      <!-- se inyecta menu dinamicamente por archivo json -->
      <div *ngIf="menu">
        <button  appFuentes class="boton" mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{item.nombre}} </button> 

      </div>

      <span class="example-spacer"></span>
    
<!--       
      <button mat-icon-button routerLink="/login">
        <mat-icon appFuentes class="boton">logout</mat-icon>  
      </button> -->
    </mat-toolbar>
  </div>
  
