<div class="contenedor">
      
  <app-navbar></app-navbar> 
  <mat-sidenav-container class="contenedor" >
        <mat-sidenav class="bg-barra sidenav" mode="side" opened fixedInViewport="true"fixedTopGap="64">
          <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/estudiantes/home">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item  routerLink="/estudiantes/list">
                <i class="material-icons">
                    groups 
                </i>
                Lista de Estudiantes
            </a>
            <a mat-list-item  routerLink="/cursos-list">
                <i class="material-icons">
                    groups 
                </i>
                Lista de Cursos
            </a>
            
        </mat-nav-list>        
          
        </mat-sidenav>
      
        <mat-sidenav-content>
          <!-- <button  mat-mini-fab class="boton"  (click)="opened=!opened"><mat-icon>more_vert</mat-icon></button> -->
          
        
          <router-outlet></router-outlet>
          
        </mat-sidenav-content>
      </mat-sidenav-container>

</div>    

