.contenedor{
    height: 100%;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-pared-ladrillo-textura-negro_53876-63583.jpg');
    background-size: cover;
}
.bg-barra{
    background-color: rgba(226, 80, 23, 0.3);
}
.boton{
    background-color: rgba(226, 81, 23, 0.774);
}